@model Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.AutoriusEditVM
@{
	ViewData["title"] = "Naujo autoriaus įvedimas";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>

<div class="container-fluid d-flex justify-content-center">
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<fieldset class="border rounded shadow p-2">
        <div class="form-group">
			@Html.LabelFor(m => m.Autorius.id, new { @class = "control-label" })
			@Html.EditorFor(m => m.Autorius.id, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Autorius.id, "", new { @class = "text-danger" })
		</div>

        <div class="form-group">
			@Html.LabelFor(m => m.Autorius.vardas, new { @class = "control-label" })
			@Html.EditorFor(m => m.Autorius.vardas, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Autorius.vardas, "", new { @class = "text-danger" })
		</div>

        <div class="form-group">
			@Html.LabelFor(m => m.Autorius.pavarde, new { @class = "control-label" })
			@Html.EditorFor(m => m.Autorius.pavarde, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Autorius.pavarde, "", new { @class = "text-danger" })
		</div>
	</fieldset>

    <fieldset class="border rounded shadow p-2">
		<div class="container-fluid d-flex d-row justify-content-between align-items-center">
			<span></span>
			<legend style="width: unset; margin-bottom: 0px;">Kopijos</legend>
			<button
				name="add"
				value="1"
				formnovalidate @*ASP.NET Core magic attribute to prevent client side validation when submit button is clicked*@
				formaction="@Url.Action()#listEnd"
				class="btn btn-info"
				style="white-space: nowrap;"
			><i class="fa-solid fa-plus"></i> Pridėti</button>
		</div>

		<table class="table table-striped table-hover w-100">
			<thead>
				<tr>
					<th>Brūkšninis kodas</th>
					<th>Pavadinimas</th>
					<th>Kalba</th>
                    <th>Žanras</th>
					<th style="width: 1px;"></th>
				</tr>
			</thead>
			<tbody>
				@for( var i = 0; i < Model.ParasytaKnyga.Count; i++ ) {
				<tr>
					<td>
						@* add hidden form fields for non-visible properties, otherwise they will get lost in code that handles button presses *@
						@Html.HiddenFor(m => m.ParasytaKnyga[i].InListId)

						@Html.EditorFor(m => m.ParasytaKnyga[i].barkodas, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(m => m.ParasytaKnyga[i].barkodas, "", new { @class = "text-danger" })
					</td>
					<td>
						@Html.EditorFor(m => m.ParasytaKnyga[i].pavadinimas, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(m => m.ParasytaKnyga[i].pavadinimas, "", new { @class = "text-danger" })
					</td>
					<td>
						@Html.EditorFor(m => m.ParasytaKnyga[i].kalba, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(m => m.ParasytaKnyga[i].kalba, "", new { @class = "text-danger" })
					</td>
                    <td>
						@* add hidden form fields for non-visible properties, otherwise they will get lost in code that handles button presses *@
						@Html.HiddenFor(m => m.ParasytaKnyga[i].InListId)

						@Html.DropDownListFor(
							m => m.ParasytaKnyga[i].fkzanras, 
							Model.Lists.Zanrai, 
							"--------------", 
							new { @class = "form-control" }
						)
						@Html.ValidationMessageFor(m => m.ParasytaKnyga[i].fkzanras, "", new { @class = "text-danger" })
					</td>
					<td>
						<button
							name="remove"
							value="@Model.ParasytaKnyga[i].InListId"
							formnovalidate @*ASP.NET Core magic attribute to prevent client side validation when submit button is clicked*@
							formaction="@Url.Action()#listEnd"
							class="btn btn-danger"
							style="white-space: nowrap;"
						><i class="fa-solid fa-trash"></i> Šalinti</button>
					</td>
				</tr>
				}
			</tbody>
		</table>

		@* this is used as a marker to automatically scroll down to the end of items list when returning from button presses *@
		<span id="listEnd"></span>
	</fieldset>

	<div class="container-fluid d-flex d-row justify-content-end">
		<button name="save" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Išsaugoti</button>
	</div>
}
</div>

<div class="main-content-footer container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title"></span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>