@model IEnumerable<Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.KnygaListVM>
@{
	ViewData["title"] = "Knygos";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center p-2">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Sukurti naują</a>
	</span>
</div>

<div class="d-flex justify-content-center">
	<table class="entitylist table table-striped table-hover">
		<thead>
			<tr>
                <th>
					@Html.DisplayNameFor(model => model.barkodas)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.pavadinimas)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.zanras)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model) {
			<tr>
                <th>
					@Html.DisplayFor(model => item.barkodas)
				</th>
				<td>
					@Html.DisplayFor(model => item.pavadinimas)
				</td>
				<td>
					@Html.DisplayFor(model => item.zanras)
				</td>
				<td>
					<a href="@Url.Action("Edit", new { id = item.barkodas })" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Redaguoti</a>
					<a href="@Url.Action("Delete", new { id = item.barkodas })" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Šalinti</a>
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>